.DS_Store
.build/
.build-*/
dist/
DerivedData/
*.xcresult
*.xccovarchive
*.xccovreport

PawGuard.xcodeproj/project.xcworkspace/xcuserdata/
PawGuard.xcodeproj/xcuserdata/
*.xcuserstate
*.xcuserdatad/

*.swp
*.tmp
*.log
